* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: normal;
}

html {
  scroll-behavior: smooth;
}

/* Navbar */

header {
  display: flex;
  width: 100%;
  height: 80px;
  padding: 0 160px;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  position: fixed;
  top: 0;
}

.navbar-logo img {
  height: 64px;
  object-fit: cover;
}

header nav {
  display: flex;
  align-items: center;
  gap: 28px;
}

header nav a {
  color: var(--Grey-Primary, #7b7b7b);
  text-align: center;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
  text-decoration: none;
  transition: all 0.3s;
}

header nav a:hover {
  color: var(--Text-Black-Primary, #121212);
}

/* Buttons */

.primary-btn {
  display: inline-flex;
  height: 56px;
  padding: 8px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  background: var(--Brown-brown-700, #6b3606);
  transition: all 0.3s;
  text-decoration: none;
  cursor: pointer;
}

.primary-btn:hover {
  background: var(--Brown-brown-900, #3f2003);
}

.primary-btn p {
  color: var(--White, #fff);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.32px;
}

.secondary-btn {
  display: flex;
  height: 56px;
  padding: 8px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border: 1px solid var(--Brown-brown-100, #dfc8b2);
  transition: all 0.3s;
  text-decoration: none;
  cursor: pointer;
}

.secondary-btn:hover {
  background: var(--Brown-brown-100, #dfc8b2);
}

.secondary-btn svg {
  width: 32px;
  height: 32px;
  aspect-ratio: 1/1;
}

.secondary-btn svg path {
  transition: all 0.3s;
}

.secondary-btn:hover svg path {
  fill: #974c08;
}

.secondary-btn p {
  color: var(--White, #fff);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.32px;
  transition: all 0.3s;
}

.secondary-btn:hover p {
  color: var(--Brown-Primary, #974c08);
}

/* Home */

/* Footer */

footer {
  display: flex;
  width: 100%;
  padding: 40px 160px;
  flex-direction: column;
  align-items: center;
  gap: 56px;
  background: var(--Brown-brown-50, #f5ede6);
}

.footer-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}

.footer-container-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.footer-container-top img {
  height: 70px;
  object-fit: cover;
}

.footer-container-top h2 {
  color: var(--Text-Black-Primary, #121212);
  text-align: center;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.4px;
}

.footer-container-line {
  width: 100%;
  height: 1px;
  background: #dfc8b2;
}

.footer-container-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.footer-container-bottom-left {
  display: flex;
  align-items: center;
  gap: 24px;
}

.footer-container-bottom a {
  color: var(--Text-Black-text-black-300, #606060);
  text-align: center;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
  text-decoration: none;
  transition: all 0.3s;
}

.footer-container-bottom a:hover {
  color: var(--Text-Black-Primary, #121212);
}

.footer-container-bottom-center {
  display: flex;
  align-items: flex-end;
  gap: 12px;
}

.footer-container-bottom-center-line {
  width: 1px;
  height: 20px;
  background: #e7e7e7;
}

.footer-below {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.footer-below p {
  color: var(--Grey-Primary, #7b7b7b);
  text-align: center;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
}

.footer-below p a {
  color: var(--Grey-Primary, #7b7b7b);
  text-align: center;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
  text-decoration: none;
  transition: all 0.3s;
}

.footer-below p a:hover {
  color: #ffbf00;
}
