* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: normal;
}

html {
  scroll-behavior: smooth;
}

#root {
  position: relative;
}

/* Navbar */

header {
  display: flex;
  width: 100%;
  height: 80px;
  padding: 0 160px;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-logo img {
  height: 64px;
  object-fit: cover;
}

header nav {
  display: flex;
  align-items: center;
  gap: 28px;
}

header nav a {
  color: var(--Grey-Primary, #7b7b7b);
  text-align: center;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
  text-decoration: none;
  transition: all 0.3s;
}

header nav a:hover {
  color: var(--Text-Black-Primary, #121212);
}

/* Buttons */

.primary-btn {
  display: inline-flex;
  height: 56px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border: none;
  background: var(--Brown-brown-700, #6b3606);
  transition: all 0.3s;
  text-decoration: none;
  cursor: pointer;
}

.primary-btn:hover {
  background: var(--Brown-brown-900, #3f2003);
}

.primary-btn p {
  color: var(--White, #fff);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.32px;
}

.secondary-btn {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border: 1px solid var(--Brown-brown-100, #dfc8b2);
  transition: all 0.3s;
  text-decoration: none;
  cursor: pointer;
}

.secondary-btn:hover {
  background: var(--Brown-brown-100, #dfc8b2);
}

.secondary-btn svg {
  width: 32px;
  height: 32px;
  aspect-ratio: 1/1;
}

.secondary-btn svg path {
  transition: all 0.3s;
}

.secondary-btn:hover svg path {
  fill: #974c08;
}

.secondary-btn p {
  color: var(--Brown-Primary, #974c08);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.32px;
  transition: all 0.3s;
}

.secondary-btn:hover p {
  color: var(--Brown-Primary, #974c08);
}

.tertiary-btn {
  display: inline-flex;
  height: 36px;
  padding: 10px 0;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  text-decoration: none;
  transition: all 0.3s;
}

.tertiary-btn p {
  color: var(--Brown-Primary, #974c08);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.32px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  transition: all 0.3s;
}

.tertiary-btn:hover p {
  color: var(--Brown-brown-800, #532a04);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.32px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

/* Home */

.home-hero {
  width: 100%;
  height: calc(100svh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.home-hero-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: hidden;
  position: relative;
}

.home-hero-container::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(0, 0, 0, 0.4) 100%
  );
  z-index: 1;
}

.home-hero-slide {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  transition: all 0.5s;
}

.home-hero-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex-shrink: 0;
}

.home-hero-center {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 0px 48px;
  z-index: 2;
}

.home-hero-control {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  aspect-ratio: 1/1;
  border-radius: 100px;
  background: rgba(125, 125, 125, 0.4);
  backdrop-filter: blur(20px);
  transition: all 0.3s;
  cursor: pointer;
}

.home-hero-control svg path {
  transition: all 0.3s;
}

.home-hero-control:hover {
  background: var(--White, #fff);
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.25);
}

.home-hero-control:hover svg path {
  fill: #121212;
}

.home-hero-center section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.home-hero-center h1 {
  color: var(--White, #fff);
  font-family: Manrope;
  font-size: 84px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -3.36px;
}

.home-hero-center p {
  color: var(--White, #fff);
  font-family: Manrope;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.12px;
}

.home-hero-bottom {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 24px 48px;
  z-index: 2;
}

.home-hero-indicator {
  display: flex;
  align-items: center;
  gap: 4px;
}

.home-hero-indicator-bar {
  width: 32px;
  height: 8px;
  border-radius: 100px;
  background: rgba(109, 109, 109, 0.5);
  transition: all 0.5s;
}

.home-hero-indicator-active-bar {
  width: 56px;
  height: 8px;
  border-radius: 100px;
  background: var(--White, #fff);
}

.home-hero-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  flex-shrink: 0;
}

.home-hero-button {
  width: 219px;
  height: 56px;
  flex-shrink: 0;
  position: relative;
  text-decoration: none;
}

.home-hero-button-background path {
  transition: all 0.3s;
}

.home-hero-button:hover .home-hero-button-background path {
  fill: #dfc8b2;
  stroke: #974c08;
}

.home-hero-button-container {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.home-hero-button-container p {
  color: var(--White, #fff);
  text-align: center;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.36px;
  transition: all 0.3s;
}

.home-hero-button-container svg path {
  transition: all 0.3s;
}

.home-hero-button:hover .home-hero-button-container p {
  color: var(--Brown-Primary, #974c08);
}

.home-hero-button:hover .home-hero-button-container svg path {
  fill: #974c08;
}

.home-hero-button:first-child .home-hero-button-container p {
  color: var(--Brown-Primary, #974c08);
}

.home-hero-button:first-child:hover .home-hero-button-background {
  fill: #974c08;
}

.home-hero-button:first-child:hover .home-hero-button-container p {
  color: var(--Brown-Primary, #974c08);
}

.home-hero-button:first-child:hover .home-hero-button-container svg path {
  fill: #974c08;
}

.home-hero-mandala {
  width: 246px;
  height: 246px;
  flex-shrink: 0;
  position: absolute;
  bottom: -124px;
  animation: rotate360 20s linear infinite;
}

@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home-numbers {
  width: 100%;
  display: flex;
  padding: 40px 160px;
  justify-content: space-between;
  align-items: center;
  background: var(--Yellow-yellow-100, #f8efc2);
  position: relative;
  z-index: 3;
}

.home-numbers p {
  color: var(--Yellow-yellow-800, #806f20);
  font-family: Manrope;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: -1.44px;
}

.home-banner {
  width: 100%;
  display: flex;
  padding: 64px 160px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.home-banner-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.home-banner-container img {
  width: 100%;
  max-height: 600px;
  object-fit: cover;
}

.home-banner-text {
  position: absolute;
  left: 40px;
  top: 50%;
  transform: translateY(-50%);
  display: inline-flex;
  padding: 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  background: var(--White, #fff);
}

.home-banner-text section {
  width: 432px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.home-banner-text h2 {
  color: var(--Text-Black-text-black-200, #929292);
  font-family: Manrope;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: -1.92px;
}

.home-banner-text h2 span {
  color: var(--Text-Black-Primary, #121212);
}

.home-banner-text section p {
  width: 100%;
  color: var(--Text-Black-text-black-300, #606060);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
}

.home-rooms {
  width: 100%;
  display: flex;
  padding: 64px 160px;
  align-items: center;
  gap: 40px;
}

.home-rooms-heading {
  display: flex;
  width: 363px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
}

.home-rooms-heading h2 {
  font-family: Manrope;
  font-size: 52px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
  letter-spacing: -2.08px;
  background: linear-gradient(90deg, #974c08 0%, #311902 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home-rooms-heading p {
  color: var(--Text-Black-text-black-300, #606060);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
}

.home-rooms-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: hidden;
  position: relative;
  transition: all 0.3s;
}

.home-rooms-slide {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  transition: all 0.3s;
}

.home-rooms-set {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  flex-shrink: 0;
}

.home-rooms-set img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.home-rooms-set section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.home-rooms-set section h3 {
  color: var(--Text-Black-Primary, #121212);
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.4px;
}

.home-room-control-left {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 100px;
  background: #fff;
  transition: all 0.3s;
}

.home-room-control-right {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 100px;
  background: #fff;
  transition: all 0.3s;
}

.home-room-control-right:hover,
.home-room-control-left:hover {
  background: #e7e7e7;
}

.section-template {
  width: 100%;
  display: flex;
  padding: 64px 160px;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}

.section-template-heading {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.section-template-heading h2 {
  text-align: center;
  font-family: Manrope;
  font-size: 52px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -2.08px;
  background: linear-gradient(90deg, #974c08 0%, #311902 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-template-heading p {
  color: var(--Text-Black-text-black-300, #606060);
  text-align: center;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
}

.home-amenities {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.home-amenities-set {
  display: flex;
  max-width: 300px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.home-amenities-set svg {
  width: 48px;
  height: 48px;
  aspect-ratio: 1/1;
}

.home-amenities-set section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}

.home-amenities-set h3 {
  color: var(--Text-Black-Primary, #121212);
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.4px;
}

.home-amenities-set-line {
  width: 100%;
  height: 2px;
  background: #ececec;
}

.home-amenities-set p {
  color: var(--Text-Black-text-black-300, #606060);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
}

.home-gallery {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  align-self: stretch;
}

.home-gallery-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.gallery-set {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
}

.gallery-set::before {
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(
    179deg,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0.5) 99.25%
  );
  z-index: 1;
}

.gallery-set img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s;
}

.gallery-set:hover img {
  scale: 1.1;
}

.gallery-set section {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  padding: 16px;
  z-index: 2;
}

.gallery-set h3 {
  color: #fff;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.4px;
}

.gallery-set p {
  color: var(--Grey-grey-200, #c2c2c2);
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.28px;
}

.home-cafe {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 350px);
  gap: 16px;
  grid-template-areas:
    "box-1 box-1 box-1 box-2 box-2"
    "box-1 box-1 box-1 box-3 box-3";
}

.home-cafe .gallery-set {
  height: auto;
}

.home-blog {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
}

.home-blog-controls {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 100px;
  border: 1px solid var(--Text-Black-text-black-50, #e7e7e7);
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: all 0.3s;
}

.home-blog-controls svg {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  aspect-ratio: 1/1;
}

.home-blog-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: hidden;
}

.home-blog-slide {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px;
}

.home-blog-set {
  width: calc(100% / 3 - 10px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex-shrink: 0;
  border: 1px solid var(--Text-Black-text-black-50, #e7e7e7);
  background: var(--White, #fff);
  align-self: stretch;
}

.home-blog-set img {
  width: 100%;
  height: 245px;
  object-fit: cover;
}

.home-blog-content {
  width: 100%;
  display: flex;
  padding: 0 16px 16px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.home-blog-content span {
  color: var(--Brown-Primary, #974c08);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.32px;
}

.home-blog-content section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
}

.home-blog-content h3 {
  color: var(--Text-Black-Primary, #121212);
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.4px;
}

.home-blog-content p {
  color: var(--Text-Black-text-black-300, #606060);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
}

/* Testimony */

.testimony {
  width: 100%;
  min-height: 500px;
  display: inline-flex;
  align-items: center;
  gap: 24px;
  position: relative;
}

.testimony-background {
  height: 472px;
  object-fit: cover;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.testimony-controls {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  border: 1px solid var(--Text-Black-text-black-50, #e7e7e7);
  background: #fff;
  flex-shrink: 0;
  cursor: pointer;
  transition: all 0.3s;
}

.testimony-controls:hover {
  background: #e7e7e7;
}

.testimony-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: hidden;
  position: relative;
}

.testimony-slide {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}

.testimony-set {
  width: calc(50% - 10px);
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex-shrink: 0;
  border: 1px solid var(--Text-Black-text-black-50, #e7e7e7);
  background: #fff;
  align-self: stretch;
}

.testimony-set-heading {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.testimony-info {
  display: flex;
  align-items: center;
  gap: 11px;
}

.testimony-info img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 8px;
}

.testimony-info section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.testimony-info h3 {
  color: var(--Text-Black-Primary, #121212);
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.36px;
}

.testimony-info span {
  color: var(--Grey-Primary, #7b7b7b);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
}

.testimony-ratings {
  display: flex;
  align-items: center;
  gap: 1px;
}

.testimony-ratings img {
  width: 24px;
  height: 24px;
  object-fit: cover;
}

.testimony-set p {
  color: var(--Text-Black-text-black-300, #606060);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
}

/* Relax */

.relax {
  width: 100%;
  display: flex;
  padding: 64px 160px;
  justify-content: center;
  align-items: center;
}

.relax h2 {
  color: var(--Grey-grey-100, #d6d6d6);
  text-align: center;
  font-family: Manrope;
  font-size: 130px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: -5.2px;
}

.relax h2 span {
  color: var(--Text-Black-Primary, #121212);
  text-align: center;
  font-family: Manrope;
  font-size: 130px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: -5.2px;
}

/* Reach */

.reach {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 56px;
}

.reach-map {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
}

.reach-map iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

.reach-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.reach-set {
  width: 100%;
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
  border: 1px solid var(--Text-Black-text-black-50, #e7e7e7);
  background: var(--White, #fff);
  text-decoration: none;
  transition: all 0.3s;
}

.reach-set:hover {
  background: #f5f5f5;
}

.reach-set-heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.reach-set-heading svg {
  width: 32px;
  height: 32px;
  aspect-ratio: 1/1;
}

.reach-set-heading section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
}

.reach-set-heading h3 {
  color: var(--Text-Black-Primary, #121212);
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.36px;
}

.reach-set-heading p {
  color: var(--Text-Black-text-black-300, #606060);
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.28px;
}

.reach-set-info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.reach-set-info section {
  display: flex;
  align-items: flex-start;
  gap: 4px;
}

.reach-set-info svg {
  width: 24px;
  height: 24px;
  aspect-ratio: 1/1;
}

.reach-set-info p {
  color: var(--Text-Black-Primary, #121212);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
}

/* FAQ */

.faq {
  display: flex;
  width: 840px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.faq-set {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  cursor: pointer;
}

.faq-set-heading {
  width: 100%;
  display: flex;
  height: 32px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.faq-set-heading h3 {
  color: #000;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.36px;
}

.faq-set-heading svg {
  width: 24px;
  height: 24px;
  aspect-ratio: 1/1;
  transition: all 0.3s;
}

.active-faq .faq-set-heading svg {
  transform: rotate(180deg);
}

.faq-set-heading svg path {
  transition: all 0.3s;
  opacity: 1;
}

.active-faq .faq-set-heading svg path:first-child {
  opacity: 0;
}

.faq-line {
  width: 100%;
  height: 1px;
  background: #e7e7e7;
}

.faq-set-answer {
  width: 713px;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s;
}

.active-faq .faq-set-answer {
  max-height: 500px;
  padding-top: 16px;
}

.faq-set-answer p {
  color: var(--Text-Black-text-black-300, #606060);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
}

/* Contact */

.contact-form-container {
  width: 100%;
  display: flex;
  gap: 24px;
}

.contact-form {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 32px;
  flex-shrink: 0;
}

.contact-form-inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

.contact-form-inputs section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.contact-form-inputs label {
  color: var(--Text-Black-text-black-300, #606060);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
}

.contact-form-inputs input {
  display: flex;
  height: 48px;
  padding: 10px 16px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border: 1px solid var(--Text-Black-text-black-50, #e7e7e7);
  color: var(--Grey-Primary, #7b7b7b);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
}

.contact-form-inputs input:not(:placeholder-shown) {
  color: var(--Black-Primary, #121212);
}

.contact-form-inputs textarea {
  resize: none;
  display: flex;
  height: 150px;
  padding: 10px 16px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border: 1px solid var(--Text-Black-text-black-50, #e7e7e7);
  color: var(--Grey-Primary, #7b7b7b);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
}

.contact-form-inputs textarea:not(:placeholder-shown) {
  color: var(--Black-Primary, #121212);
}

.contact-form-imgs {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 400px);
  gap: 16px;
  grid-template-areas:
    "box-1 box-1 box-1 box-2 box-2"
    "box-3 box-3 box-4 box-4 box-4";
}

.contact-form-inputs-divide {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

.contact-form-inputs-divide section {
  width: calc(50% - 12px);
}

.contact-form-checkbox {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 7px;
  align-self: stretch;
}

.contact-form-checkbox input {
  width: 24px;
  height: 24px;
  aspect-ratio: 1/1;
}

.contact-form-checkbox label {
  color: var(--Text-Black-text-black-300, #606060);
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.36px;
}

.contact-form .primary-btn {
  width: 100%;
}

/* Coorg */

.coorg-trek {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 64px;
}

.coorg-trek-set {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
}

.coorg-trek-line {
  width: 100%;
  height: 1px;
  background: #e7e7e7;
}

.coorg-trek-set-img-container {
  width: 457px;
  height: 337px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  overflow: hidden;
  position: relative;
}

.coorg-trek-set-img-slide {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  transition: all 0.3s;
}

.coorg-trek-set-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex-shrink: 0;
}

.coorg-trek-set-img-controls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 100px;
  background: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.coorg-trek-set-img-controls:hover {
  background: #c2c2c2;
}

.coorg-trek-set-img-controls:active {
  background: #606060;
}

.coorg-trek-set-img-controls-left {
  left: 8px;
}

.coorg-trek-set-img-controls-right {
  right: 8px;
}

.coorg-trek-set-img-controls svg {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  aspect-ratio: 1/1;
}

.coorg-trek-set-img-indicators {
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  display: inline-flex;
  align-items: center;
  gap: 4px;
}

.coorg-trek-set-img-dot {
  width: 8px;
  height: 8px;
  flex-shrink: 0;
  border-radius: 50%;
  background: #d6d6d6;
  transition: all 0.3s;
}

.active-coorg-trek-set-img-dot {
  background: #575757;
}

.coorg-trek-set-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

.coorg-trek-set-info-heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.coorg-trek-set-info-heading h3 {
  color: #000;
  font-family: Manrope;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.56px;
}

.coorg-trek-set-info-heading section {
  width: 100%;
  height: 1px;
  background: #e7e7e7;
}

.coorg-trek-set-info-difficulty {
  display: flex;
  height: 36px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  background: var(--Text-Black-text-black-50, #e7e7e7);
  color: var(--Text-Black-text-black-300, #606060);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.32px;
}

.coorg-trek-set-info-location-and-time {
  display: flex;
  align-items: center;
  gap: 32px;
}

.coorg-trek-set-info-location-and-time section {
  display: flex;
  align-items: flex-start;
  gap: 4px;
}

.coorg-trek-set-info-location-and-time svg {
  width: 24px;
  height: 24px;
  aspect-ratio: 1/1;
}

.coorg-trek-set-info-location-and-time p {
  color: var(--Text-Black-Primary, #121212);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
}

.coorg-trek-set-info-description {
  display: flex;
  max-width: 536px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.coorg-trek-set-info-description h4 {
  color: var(--Text-Black-Primary, #121212);
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.36px;
}

.coorg-trek-set-info-description p {
  color: var(--Text-Black-text-black-300, #606060);
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.28px;
}

.coorg-attractions {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.coorg-attractions-set {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 48px;
  align-self: stretch;
}

.coorg-attractions-set:nth-child(even) {
  flex-direction: row-reverse;
}

.coorg-attractions-set-img {
  width: 100%;
  height: 434px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.coorg-attractions-set-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s;
}

.coorg-attractions-set-img img:hover {
  scale: 1.1;
}

.coorg-attractions-set-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.coorg-attractions-set-info-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.coorg-attractions-set-info-distance {
  display: flex;
  align-items: flex-start;
  gap: 4px;
}

.coorg-attractions-set-info-distance svg {
  width: 24px;
  height: 24px;
  aspect-ratio: 1/1;
}

.coorg-attractions-set-info-distance p {
  color: var(--Text-Black-Primary, #121212);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
}

.coorg-attractions-set-info-description {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
}

.coorg-attractions-set-info-description h3 {
  color: var(--Text-Black-Primary, #121212);
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -0.48px;
}

.coorg-attractions-set-info-description p {
  color: var(--Text-Black-text-black-300, #606060);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
}

.coorg-gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(10, 100px);
  gap: 16px;
  grid-template-areas:
    "box-1 box-2 box-3"
    "box-1 box-2 box-3"
    "box-1 box-5 box-3"
    "box-1 box-5 box-3"
    "box-4 box-5 box-6"
    "box-4 box-5 box-6"
    "box-4 box-5 box-6"
    "box-4 box-8 box-6"
    "box-7 box-8 box-9"
    "box-7 box-8 box-9";
}

.coorg-gallery .gallery-set {
  height: auto;
}

/* Footer */

footer {
  display: flex;
  width: 100%;
  padding: 40px 160px;
  flex-direction: column;
  align-items: center;
  gap: 56px;
  background: var(--Brown-brown-50, #f5ede6);
}

.footer-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}

.footer-container-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.footer-container-top img {
  height: 70px;
  object-fit: cover;
}

.footer-container-top h2 {
  color: var(--Text-Black-Primary, #121212);
  text-align: center;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.4px;
}

.footer-container-line {
  width: 100%;
  height: 1px;
  background: #dfc8b2;
}

.footer-container-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.footer-container-bottom-left {
  display: flex;
  align-items: center;
  gap: 24px;
}

.footer-container-bottom a {
  color: var(--Text-Black-text-black-300, #606060);
  text-align: center;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
  text-decoration: none;
  transition: all 0.3s;
}

.footer-container-bottom a:hover {
  color: var(--Text-Black-Primary, #121212);
}

.footer-container-bottom-center {
  display: flex;
  align-items: flex-end;
  gap: 12px;
}

.footer-container-bottom-center-line {
  width: 1px;
  height: 20px;
  background: #e7e7e7;
}

.footer-below {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.footer-below p {
  color: var(--Grey-Primary, #7b7b7b);
  text-align: center;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
}

.footer-below p a {
  color: var(--Grey-Primary, #7b7b7b);
  text-align: center;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
  text-decoration: none;
  transition: all 0.3s;
}

.footer-below p a:hover {
  color: #ffbf00;
}
